## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key


# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Punta Arenas,CL,-53.1500,-70.9167,48.31,43,0,8.05,clear sky
1,1,Souillac,MU,-20.5167,57.5167,71.98,78,40,12.66,scattered clouds
2,2,Katobu,ID,-4.9408,122.5276,73.96,92,100,2.75,heavy intensity rain
3,3,Kaabong,UG,3.4836,34.1492,68.32,51,98,7.85,overcast clouds
4,4,Albany,US,42.6001,-73.9662,77.59,82,94,9.19,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Souillac,MU,-20.5167,57.5167,71.98,78,40,12.66,scattered clouds
2,2,Katobu,ID,-4.9408,122.5276,73.96,92,100,2.75,heavy intensity rain
4,4,Albany,US,42.6001,-73.9662,77.59,82,94,9.19,overcast clouds
8,8,Kapaa,US,22.0752,-159.3190,84.11,76,55,8.99,broken clouds
13,13,Lander,US,42.8330,-108.7307,78.12,48,11,12.28,few clouds
15,15,Rikitea,PF,-23.1203,-134.9692,72.28,68,51,16.58,broken clouds
17,17,Nizwa,OM,22.9333,57.5333,83.64,47,0,2.66,clear sky
18,18,Mathbaria,BD,22.2876,89.9593,78.69,91,97,10.92,heavy intensity rain
23,23,Ribeira Grande,PT,38.5167,-28.7000,75.60,88,40,9.22,scattered clouds
26,26,Bethel,US,41.3712,-73.4140,83.55,64,78,5.01,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                306
City                   306
Country                306
Lat                    306
Lng                    306
Max Temp               306
Humidity               306
Cloudiness             306
Wind Speed             306
Current Description    306
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Souillac,MU,71.98,scattered clouds,-20.5167,57.5167,
2,Katobu,ID,73.96,heavy intensity rain,-4.9408,122.5276,
4,Albany,US,77.59,overcast clouds,42.6001,-73.9662,
8,Kapaa,US,84.11,broken clouds,22.0752,-159.3190,
13,Lander,US,78.12,few clouds,42.8330,-108.7307,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        
     hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
     print("Hotel not found... skipping.")
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Souillac,MU,71.98,scattered clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
2,Katobu,ID,73.96,heavy intensity rain,-4.9408,122.5276,La Ode Husein
4,Albany,US,77.59,overcast clouds,42.6001,-73.9662,
8,Kapaa,US,84.11,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
13,Lander,US,78.12,few clouds,42.8330,-108.7307,"Holiday Inn Express & Suites Lander, an IHG Hotel"
15,Rikitea,PF,72.28,broken clouds,-23.1203,-134.9692,People ThankYou
17,Nizwa,OM,83.64,clear sky,22.9333,57.5333,Orient Apartments
18,Mathbaria,BD,78.69,heavy intensity rain,22.2876,89.9593,Shikdar Hotel
23,Ribeira Grande,PT,75.60,scattered clouds,38.5167,-28.7000,Quinta da Meia Eira
26,Bethel,US,83.55,broken clouds,41.3712,-73.4140,Courtyard by Marriott Danbury

In [9]:
# 7. Drop the rows where there is no Hotel Name.
import numpy as np
hotel_df["Hotel Name"].replace("", np.nan, inplace = True)
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Souillac,MU,71.98,scattered clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
2,Katobu,ID,73.96,heavy intensity rain,-4.9408,122.5276,La Ode Husein
8,Kapaa,US,84.11,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
13,Lander,US,78.12,few clouds,42.8330,-108.7307,"Holiday Inn Express & Suites Lander, an IHG Hotel"
15,Rikitea,PF,72.28,broken clouds,-23.1203,-134.9692,People ThankYou
...,...,...,...,...,...,...,...
675,Pierre,US,83.05,clear sky,44.3683,-100.3510,Ramkota Hotel
677,Miraflores,MX,70.45,overcast clouds,19.2167,-98.8083,Hotel Mansión
679,Palauig,PH,78.94,broken clouds,15.4350,119.9045,Villa Raphael Resort
682,Vanimo,PG,76.19,broken clouds,-2.6741,141.3028,Vahmoneh Lodge Vanimo
688,Cap Malheureux,MU,70.47,clear sky,-19.9842,57.6142,Pereybere Hotel & Spa

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [25]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""


# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [26]:
# 11a. Add a marker layer for each city to the map. 
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)



# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))